# string datatype in python

In [27]:
#boundries
#"string text" , 'string text' , """ string text""" , '''string text'''.
name : str = "bita" # use of double qoutation
print(type(name))
print(name)

<class 'str'>
bita

In [28]:
#boundries
#"string text" , 'string text' , """ string text""" , '''string text'''.
name : str = 'bita' # use of single quotation
print(type(name))
print(name)

<class 'str'>
bita

In [32]:
message : str ="PIAIC student card \n father's name" 
print(message)

PIAIC student card
 father's name

In [33]:
message : str ='PIAIC "student card" \n father name' 
print(message)

PIAIC "student card"
 father name

In [34]:
message : str ='PIAIC "student card" \n father\'s name' 
print(message)

PIAIC "student card"
 father's name

In [36]:
#boundries
#"string text" , 'string text' , """ string text""" , '''string text'''.

name : str = 'bita'
fname : str = "basharat"
educaation : str = "BSCS"
age : int = 25

card : str = "PIAIC student card \n Student Name: "+ name + "\n Age: "+str(age) #cannot use age variable because of int.we can concatenate a srting variable with another string not with number or int(integer)
print(card)

PIAIC student card
 Student Name: bita
 Age: 25

# "\\" line continue

In [37]:
print(7 + 6 + 4)

17

In [38]:
print(7 + \
      6 + \
        4)

17

In [39]:
#boundries
#"string text" , 'string text' , """ string text""" , '''string text'''.

name : str = 'bita'
fname : str = "basharat"
education : str = "BSCS"
age : int = 25

card : str = "PIAIC student card \n Student Name: "+ name + \
      "\n Age: "+str(age) + \
      "\n Father Name: " + fname+\
        "\n Education: " + education 
        
print(card)

PIAIC student card
 Student Name: bita
 Age: 25
 Father Name: basharat
 Education: BSCS

# Define multiline string """ """(double tiple quotation) , ''' '''(single tiple quotation)

In [40]:
name : str = 'bita'
fname : str = "basharat"
education : str = "BSCS"
age : int = 25

card: str = """
PIAIC student card
Student Name: ......
Father's Name: ......
Age: .....
Education: ....
"""
print(card)

PIAIC student card
Student Name: ......
Father's Name: ......
Age: .....
Education: ....

# f_string python

In [41]:
name : str = 'bita'
fname : str = "basharat"
education : str = "BSCS"
age : int = 25

card: str = f"""
PIAIC student card
Student Name: {name}
Father's Name: {fname}
Age: {age}
Education: {education}
"""
print(card)

PIAIC student card
Student Name: bita
Father's Name: basharat
Age: 25
Education: BSCS

In [42]:
name : str = 'bita'
fname : str = "basharat"
education : str = "BSCS"
age : int = 25

card: str = f'''
PIAIC student card
Student Name: {name}
Father's Name: {fname}
Age: {age}
Education: {education}
'''
print(card)

PIAIC student card
Student Name: bita
Father's Name: basharat
Age: 25
Education: BSCS

In [44]:
name : str = 'bita'
fname : str = "basharat"
education : str = "BSCS"
age : int = 25

card: str = f"""
PIAIC student card
Student Name: {name}
Father's Name: {fname}
Age: {age}                 
Education: {education}

total = {3+6+453}         # we can concatrnate inside the qoutations 
"""
print(card)

PIAIC student card
Student Name: bita
Father's Name: basharat
Age: 25
Education: BSCS

total = 462

# f_string and jinja style

In [45]:
#f_string
f"""
student {name}  
"""

'\nstudent bita  #f_string\n'

In [47]:
#jinja style
"""
student {{name}} 
"""

'\nstudent {{name}} \n'

# method and attributes

In [51]:
[i for i in dir (str) if "_" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [58]:
name : str = "bita muggi"
print(name.capitalize())
print(name.lower())
print(name.encode())

Bita muggi
bita muggi
b'bita muggi'

In [59]:
a = 6
b = 8
# {} place holder
#  index          0              1          0,1
"pakistan value a {} and value b {}".format(a,b)

'pakistan value a 6 and value b 8'

In [49]:
name : str = 'bita'
fname : str = "basharat"
education : str = "BSCS"
age : int = 25


card: str = f"""
PIAIC student card
Student Name: %s
Father's Name: %s 
Age: %d              
Education:%s
""" % (name,fname,age,education)
print(card)

PIAIC student card
Student Name: bita
Father's Name: basharat
Age: 25
Education:BSCS

In [60]:
name : str = 'bita'
fname : str = "basharat"
education : str = "BSCS"
age : int = 25


card: str = f"""
PIAIC student card
Student Name: 
Father's Name: 
Age:        
Education:
""" .format(name,fname,education,age)
print(card)

PIAIC student card
Student Name:
Father's Name:
Age:
Education:

In [64]:
name : str = 'bita'
fname : str = "basharat"
education : str = "BSCS"
age : int = 25


card: str = """
PIAIC student card
Student Name: {2}
Father's Name: {0}
Age: {1}       
Education:{3}
""" .format(fname,age,name,education)
#             0    1   2    3    place holder through index
print(card)

PIAIC student card
Student Name: bita
Father's Name: basharat
Age: 25
Education:BSCS

In [65]:
name : str = 'bita'
fname : str = "basharat"
education : str = "BSCS"
age : int = 25


card: str = """
PIAIC student card
Student Name: {a}
Father's Name: {b}
Age: {c}     
Education: {d}
""" .format(b=fname,c=age,a=name,d=education)
# place holder through variables
print(card)

PIAIC student card
Student Name: bita
Father's Name: basharat
Age: 25
Education: BSCS

In [68]:
student_code:str = """
print("my name is bita")
a: int = 5
b: int = 8
print(a+b)
"""
exec(student_code)

my name is bita
13

# explore string methods and attributes
 pre-define global functions we have use
 * print
 * type
 * id
 * dir
 * len

In [69]:
a:list[str] = [i for i in dir (str) if "_" not in i]
print(a)
print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
46

In [70]:
name: str = "bita"
# varable_name.method
print(name.capitalize()) # will capitalize the 1st alphabet

Bita

In [71]:
name: str = "bita"
# varable_name.method
print(name.casefold()) # it is same as lower_case letter

bita

In [72]:
name: str = "      bita      "
# varable_name.method
display(name)           # display is also use to print value/variable
display(name.lstrip())  # will backspace the left-side space

'      bita      '

'bita      '

In [ ]:
name: str = "      bita      "
# varable_name.method
display(name)
display(name.rstrip())  # will backspace the right-side space

In [73]:
name: str = "      bita      "
# varable_name.method
display(name)           
display(name.strip())# will backspace from both-side space

'      bita      '

'bita'

In [80]:
import re # re stands for regular expression

name: str = "        bita          muggi          "
display(name)
#               pattern,recplacement
name1 : str = re.sub('  {2,100}',' ', name).strip()  # sub(subtitute)
display(name1)

'        bita          muggi          '

'bita muggi'

In [81]:
name: str = "      bita muggi     "
# varable_name.method
display(name)
display(name.title()) #will capitalize first alphabet of every letter

'      bita muggi     '

'      Bita Muggi     '

In [82]:
first_name = "ada"
last_name = "love ya"
full_name = f"{first_name} {last_name}"
message =  f"hello! {first_name} {last_name}"
print(message)

hello! ada love ya

# escape sequence

In [83]:
print("name:\t bita miggi") # use like tab

name:	 bita miggi

In [84]:
print("name:\n bita miggi") # next line

name:
 bita miggi

In [85]:
print("name:\b bita miggi") # backspace

name bita miggi

In [86]:
nostrach_url: str = 'https://nostrach.com'
nostrach_url.removeprefix('https://') #remove prefix

'nostrach.com'